# App
NEXT_PUBLIC_SITE_URL=https://takehomecompare.com
NEXTAUTH_URL=https://takehomecompare.com
NEXTAUTH_SECRET=replace-with-strong-random


# Email (Resend)
RESEND_API_KEY=re_********************************
EMAIL_FROM=noreply@takehomecompare.com


# Stripe
STRIPE_SECRET_KEY=sk_live_********************************
STRIPE_WEBHOOK_SECRET=whsec_********************************
STRIPE_PRICE_BASIC=price_********************************


# Database (Vercel Postgres)
POSTGRES_URL=postgres://******
POSTGRES_PRISMA_URL=postgres://******
POSTGRES_URL_NON_POOLING=postgres://******
POSTGRES_USER=******
POSTGRES_HOST=******
POSTGRES_PASSWORD=******
POSTGRES_DATABASE=******
